.header {
  // padding: 0 0 57px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.group492 {
  padding: 0 0 57px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.flexWrapperOne {
  background-color: rgba(64, 191, 255, 1);
  padding: 162.78px 1109.5px 162.77px 320.22px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.groceriesAtDoorstep {
  height: 60.48%;
  width: 99.94%;
  color: #ffffff;
  display: flex;
  margin-bottom: 23.34px;
  margin-left: 0.28px;
  font-family: "Poppins";
  font-size: 55px;
  font-weight: 500;
  line-height: normal;
}
.loremIpsumIsSimplyDummyText {
  height: 13.12%;
  width: 85.05%;
  color: #ffffff;
  display: flex;
  margin-bottom: 12.11px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.link {
  margin-left: 0.28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shopNow {
  height: 81.08%;
  color: #ffffff;
  align-self: stretch;
  display: flex;
  margin-bottom: 4px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}
.rectangle14 {
  width: 67.57%;
  height: 8.11%;
  background-color: #ffffff;
}
.shoesShoePngTransparentShoeImagesP {
  width: 41.38%;
  height: 91.16%;
  position: absolute;
  right: 226.22px;
  top: -91.26px;
}